<mat-card class="main-content align-center" *ngIf="task">
  <form name="taskForm" #taskForm="ngForm">
    <p>
      <mat-form-field>
        <input matInput name="name" [(ngModel)]="task.name" #name="ngModel" />
        <mat-hint>Name</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <textarea
          matInput
          name="description"
          [(ngModel)]="task.description"
          #description="ngModel"
        ></textarea>
        <mat-hint>Description</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input
          matInput
          name="createdAt"
          [ngModel]="task.createdAt | myDate"
          (ngModelChange)="task.createdAt = $event"
          #createdAt="ngModel"
        />
        <mat-hint>Created At</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input
          matInput
          name="finishedAt"
          [ngModel]="task.finishedAt | myDate"
          (ngModelChange)="task.finishedAt = $event"
          #finishedAt="ngModel"
        />
        <mat-hint>Finished At</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input
          matInput
          name="state"
          [(ngModel)]="task.state"
          #state="ngModel"
        />
        <mat-hint>State</mat-hint>
      </mat-form-field>
    </p>
  </form>
  <div class="buttons">
    <div class="buttons">
      <button (click)="saveNewInfo()">
        Save
      </button>
      <button (click)="close()">
        Back
      </button>
    </div>
  </div>
</mat-card>
