<body>
  <h1>
    User id: {{ user.id }}
    <i class="fa fa-edit" (click)="openEditUser(user.id)"></i>
    <i class="fa fa-trash" (click)="deleteUser(user.id)"></i>
  </h1>
  <p>User first name: {{ user.firstName }}</p>
  <p>User last name: {{ user.lastName }}</p>
  <p>User email: {{ user.email }}</p>
  <p>User birthday: {{ user.birthday | myDate }}</p>
  <p>User registered date: {{ user.registeredAt | myDate }}</p>
</body>
