<mat-card class="main-content align-center" *ngIf="project">
  <form name="projectForm" #projectForm="ngForm">
    <p>
      <mat-form-field>
        <input
          matInput
          name="name"
          [(ngModel)]="project.name"
          #name="ngModel"
        />
        <mat-hint>Name</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <textarea
          matInput
          name="description"
          [(ngModel)]="project.description"
          #description="ngModel"
        ></textarea>
        <mat-hint>Description</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input
          matInput
          name="createdAt"
          [ngModel]="project.createdAt | myDate"
          (ngModelChange)="project.createdAt = $event"
          #createdAt="ngModel"
        />
        <mat-hint>Created At</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input
          matInput
          name="deadline"
          [ngModel]="project.deadline | myDate"
          (ngModelChange)="project.deadline = $event"
          #deadline="ngModel"
        />
        <mat-hint>Deadline</mat-hint>
      </mat-form-field>
    </p>
  </form>
  <div class="buttons">
    <div class="buttons">
      <button (click)="saveNewInfo()">
        Save
      </button>
      <button (click)="close()">
        Back
      </button>
    </div>
  </div>
</mat-card>
