<h1>Company App</h1>

<div>
  <h1 class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link text-dark" [routerLink]="['/projects']"> Projects </a>
  </h1>
  <h1 class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link text-dark" [routerLink]="['/tasks']"> Tasks </a>
  </h1>
  <h1 class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link text-dark" [routerLink]="['/teams']"> Teams </a>
  </h1>
  <h1 class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link text-dark" [routerLink]="['/users']"> Users </a>
  </h1>
</div>
