<mat-card class="main-content align-center" *ngIf="team">
  <form name="teamForm" #teamForm="ngForm">
    <p>
      <mat-form-field>
        <input matInput name="name" [(ngModel)]="team.name" #name="ngModel" />
        <mat-hint>Name</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input
          matInput
          name="createdAt"
          [ngModel]="team.createdAt | myDate"
          (ngModelChange)="team.createdAt = $event"
          #createdAt="ngModel"
        />
        <mat-hint>Created At</mat-hint>
      </mat-form-field>
    </p>
  </form>
  <div class="buttons">
    <div class="buttons">
      <button (click)="saveNewInfo()">
        Save
      </button>
      <button (click)="close()">
        Back
      </button>
    </div>
  </div>
</mat-card>
