<mat-card class="main-content align-center" *ngIf="user">
  <form name="userForm" #userForm="ngForm" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field>
        <input
          matInput
          name="name"
          [(ngModel)]="user.firstName"
          #name="ngModel"
        />
        <mat-hint>First Name</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input
          matInput
          name="lastName"
          [(ngModel)]="user.lastName"
          #lastName="ngModel"
        />
        <mat-hint>Last Name</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input
          matInput
          name="email"
          [(ngModel)]="user.email"
          #email="ngModel"
        />
        <mat-hint>Email</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input
          matInput
          name="birthday"
          [ngModel]="user.birthday | myDate"
          (ngModelChange)="user.birthday = $event"
          #birthday="ngModel"
        />
        <mat-hint>Birthday</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input
          matInput
          name="registeredAt"
          [ngModel]="user.registeredAt | myDate"
          (ngModelChange)="user.registeredAt = $event"
          #registeredAt="ngModel"
        />
        <mat-hint>Registered At</mat-hint>
      </mat-form-field>
    </p>
  </form>
  <div class="buttons">
    <div class="buttons">
      <button (click)="onSubmit()">
        Save
      </button>
      <button (click)="close()">
        Back
      </button>
    </div>
  </div>
</mat-card>
