<body>
  <h1>
    Task id: {{ task.id }}
    <i class="fa fa-edit" (click)="openEditTask(task.id)"></i>
    <i class="fa fa-trash" (click)="deleteTask(task.id)"></i>
  </h1>
  <p>Task name: {{ task.name }}</p>
  <p>Task description: {{ task.description }}</p>
  <p>Task creation date: {{ task.createdAt | myDate }}</p>
  <p>Task finish date: {{ task.finishedAt | myDate }}</p>
  <p [status]="task.state">Task state: {{ taskState[task.state] }}</p>
</body>
