<body>
  <h1>
    Project id: {{ project.id }}
    <i class="fa fa-edit" (click)="openEditProject(project.id)"></i>
    <i class="fa fa-trash" (click)="deleteProject(project.id)"></i>
  </h1>
  <p>Project name: {{ project.name }}</p>
  <p>Project description: {{ project.description }}</p>
  <p>Project creation date: {{ project.createdAt | myDate }}</p>
  <p>Project deadline {{ project.deadline | myDate }}</p>
</body>
