<body>
<h1>
  Team id: {{ team.id }}
  <i class="fa fa-edit" (click)="openEditTeam(team.id)"></i>
  <i class="fa fa-trash" (click)="deleteTeam(team.id)"></i>
</h1>
<p>Team name: {{ team.name }}</p>
<p>Team creation date: {{ team.createdAt | myDate }}</p>
</body>